@import url( /global/nav/styles/nav.css );
@import url( /global/styles/productheader.css );
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
PRE {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
.clear {
	CLEAR: both
}
.clearer {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 0px
}
IMG {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
IMG.left {
	FLOAT: left; MARGIN: 2px 20px 16px 0px
}
IMG.right {
	FLOAT: right; MARGIN: 2px 0px 16px 20px
}
IMG.across {
	MARGIN: 2px 0px 16px
}
IMG.flushleft {
	MARGIN-LEFT: -20px
}
IMG.flushright {
	MARGIN-RIGHT: -20px
}
#container {
	MARGIN: 0px auto; WIDTH: 980px; POSITION: relative
}
#main {
	WIDTH: 100%; POSITION: relative
}
#content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 18px; COLOR: #333; PADDING-TOP: 18px; POSITION: relative
}
#breadcrumb {
	CLEAR: both; FONT-SIZE: 10px; MARGIN: 18px auto; COLOR: #686868; TEXT-ALIGN: center
}
.column {
	FLOAT: left
}
.grid2col {
	WIDTH: 100%
}
.grid2cola {
	WIDTH: 100%
}
.grid2colb {
	WIDTH: 100%
}
.grid2colc {
	WIDTH: 100%
}
.grid2cold {
	WIDTH: 100%
}
.grid2cole {
	WIDTH: 100%
}
.grid2colf {
	WIDTH: 100%
}
.grid3col {
	WIDTH: 100%
}
.grid3cola {
	WIDTH: 100%
}
.grid4col {
	WIDTH: 100%
}
.grid5col {
	WIDTH: 100%
}
.grid6col {
	WIDTH: 100%
}
.grid2col .column {
	WIDTH: 49%
}
.grid2col .grid2col .column {
	WIDTH: 47.8%
}
.grid3col .grid2col .column {
	WIDTH: 46%
}
.grid4col .grid2col .column {
	WIDTH: 45%
}
.grid2cola .first.column {
	WIDTH: 66%
}
.grid2cola .last.column {
	WIDTH: 32%
}
.grid2colb .first.column {
	WIDTH: 74.9%
}
.grid2colb .last.column {
	WIDTH: 23%
}
.grid2colc .first.column {
	WIDTH: 32%
}
.grid2colc .last.column {
	WIDTH: 66%
}
.grid2cold .first.column {
	WIDTH: 23%
}
.grid2cold .last.column {
	WIDTH: 74.9%
}
.grid2cole .first.column {
	WIDTH: 79%
}
.grid2cole .last.column {
	WIDTH: 19%
}
.grid2colf .first.column {
	WIDTH: 19%
}
.grid2colf .last.column {
	WIDTH: 79%
}
.grid3col .column {
	MARGIN-LEFT: 2%; WIDTH: 32%
}
.grid2col .grid3col .column {
	WIDTH: 31%
}
.grid3cola .column {
	MARGIN-LEFT: 2%; WIDTH: 58%
}
.grid3cola .first.column {
	WIDTH: 19%
}
.grid3cola .last.column {
	WIDTH: 19%
}
.grid4col .column {
	MARGIN-LEFT: 3%; WIDTH: 23%
}
.grid5col .column {
	MARGIN-LEFT: 2%; WIDTH: 18.4%
}
.grid6col .column {
	MARGIN-LEFT: 2%; WIDTH: 15%
}
.first.column {
	MARGIN-LEFT: 0px! important
}
.last.column {
	MARGIN-LEFT: 0px! important
}
.last.column {
	FLOAT: right! important
}
P.last {
	_float: none; _width: auto
}
UL.last {
	_float: none; _width: auto
}
OL.last {
	_float: none; _width: auto
}
LI.last {
	_float: none; _width: auto
}
#container:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#content:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2cola:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2colb:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2colc:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2cold:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2cole:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2colf:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid3col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid3cola:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid4col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid5col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid6col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#container {
	_zoom: 1
}
#content {
	_zoom: 1
}
.grid2col {
	_zoom: 1
}
.grid2cola {
	_zoom: 1
}
.grid2colb {
	_zoom: 1
}
.grid2colc {
	_zoom: 1
}
.grid2cold {
	_zoom: 1
}
.grid2cole {
	_zoom: 1
}
.grid2colf {
	_zoom: 1
}
.grid3col {
	_zoom: 1
}
.grid3cola {
	_zoom: 1
}
.grid4col {
	_zoom: 1
}
.grid5col {
	_zoom: 1
}
.grid6col {
	_zoom: 1
}
BODY {
	FONT: 12px/18px "Lucida Grande", Geneva, Arial, Verdana, sans-serif; COLOR: #333; BACKGROUND-COLOR: #fff
}
A {
	COLOR: #2971a7
}
STRONG {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
SUP {
	PADDING-LEFT: 1px; FONT-WEIGHT: normal! important; FONT-SIZE: 10px! important; VERTICAL-ALIGN: baseline; COLOR: #76797c; BOTTOM: 0.33em; POSITION: relative; _position: static
}
.sosumi {
	FONT-SIZE: 10px! important; COLOR: #76797c
}
#main P {
	MARGIN-BOTTOM: 18px
}
#main H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; MARGIN-BOTTOM: 18px; LINE-HEIGHT: 36px
}
#main H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 18px; LINE-HEIGHT: 18px
}
#main H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; LINE-HEIGHT: 18px
}
#main H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; LINE-HEIGHT: 18px
}
#main P.intro {
	FONT-WEIGHT: bold
}
#main .more {
	TEXT-ALIGN: right
}
#main UL {
	LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 18px; LIST-STYLE-TYPE: none
}
#main OL {
	MARGIN-BOTTOM: 18px; MARGIN-LEFT: 2.2em; LIST-STYLE-TYPE: decimal
}
#main UL.square {
	MARGIN-LEFT: 2em
}
#main UL.circle {
	MARGIN-LEFT: 2em
}
#main UL.square {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: square
}
#main UL.circle {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: circle
}
#main UL UL.circle {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 5px
}
#main UL UL.square {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 5px
}
#main OL.sosumi {
	PADDING-LEFT: 2em; MARGIN-LEFT: 0px
}
#main A.pdf {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconpdf12x12.gif) no-repeat 0px 0.4em
}
#main A.html {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconhtml12x12.gif) no-repeat 0px 0.4em
}
#main A.qt {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconqt12x12.gif) no-repeat 0px 0.4em
}
#main A.ical {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconical12x12.gif) no-repeat 0px 0.4em
}
#main A.dl {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globalicondl11x10.gif) no-repeat 0px 0.4em
}
#main A.dmg {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globalicondmg12x12.gif) no-repeat 0px 0.4em
}
#main A.zip {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconzip12x12.gif) no-repeat 0px 0.4em
}
#main A.keynote {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconkeynote12x12.gif) no-repeat 0px 0.4em
}
#main A.audio {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconaudio12x12.gif) no-repeat 0px 0.4em
}
#main .sidebar {
	FONT-SIZE: 10px; COLOR: #686868; LINE-HEIGHT: 18px
}
#main .callout {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 18px; LINE-HEIGHT: 18px
}
#main .last {
	MARGIN-BOTTOM: 0px
}
INPUT.prettysearch {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(http://images.apple.com/global/elements/prettysearch/searchfield_repeat.png) repeat-x center top; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px "Lucida Grande", Geneva, Arial, sans-serif; WIDTH: 200px; PADDING-TOP: 3px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
.search-wrapper {
	WIDTH: 200px; POSITION: relative
}
.search-wrapper INPUT.prettysearch {
	MARGIN-TOP: -1px; MARGIN-LEFT: 10px; WIDTH: 171px; MARGIN-RIGHT: -2px
}
.search-wrapper .left {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
.search-wrapper .right {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
.search-wrapper .left {
	DISPLAY: block; BACKGROUND: url(http://images.apple.com/global/elements/prettysearch/searchfield_leftcap.png) no-repeat left top; LEFT: 0px; WIDTH: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 19px
}
.search-wrapper .right {
	DISPLAY: block; RIGHT: 0px; BACKGROUND: url(http://images.apple.com/global/elements/prettysearch/searchfield_rightcap.png) no-repeat right top; WIDTH: 10px; POSITION: absolute; TOP: 0px; HEIGHT: 19px
}
.blurred.empty.search-wrapper INPUT {
	COLOR: #7e7e7e
}
.search-wrapper .reset {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 4px; BACKGROUND: url(http://images.apple.com/global/elements/prettysearch/close.gif); OVERFLOW: hidden; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; TOP: 4px; HEIGHT: 11px; _cursor: hand
}
.empty.search-wrapper .reset {
	DISPLAY: none
}
#globalfooter P {
	MARGIN-BOTTOM: 1em
}
#globalfooter FORM {
	MARGIN: 18px 10px
}
#globalfooter .search-wrapper {
	MARGIN: 0px auto
}
#globalfooter .search-wrapper INPUT.prettysearch {
	MARGIN-LEFT: 10px
}

@media Print    
{
BODY {
	COLOR: #000! important
}
#main {
	COLOR: #000! important
}
#content {
	COLOR: #000! important
}
A {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
A:link {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
A:visited {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
#tabs {
	DISPLAY: none! important
}
#globalheader {
	DISPLAY: none! important
}
#globalfooter {
	DISPLAY: none! important
}
#directorynav {
	DISPLAY: none! important
}
.noprint {
	DISPLAY: none! important
}
.hide {
	DISPLAY: none! important
}
#main A.pdf {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.html {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.qt {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.ical {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.dl {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.dmg {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.zip {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.keynote {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.audio {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}

}
