A:link {
	COLOR: #3764a0;TEXT-DECORATION: none
}
A:visited {
	COLOR: #3764a0; TEXT-DECORATION: none
}
A:hover {
	COLOR: #3764a0; 
}
A:active {
	COLOR: #3764a0; TEXT-DECORATION: none
}


.main_xline{
	border-bottom:1px dotted #d3d3d3;
	line-height:23px;
}

.main_panel_cls1{
	border-bottom:1px dotted #d3d3d3;
	line-height:23px;
	width:20px;
}

.main_panel_cls2{
	border-bottom:1px dotted #d3d3d3;line-height:23px;font-size:12px
}

.main_panel_cls3{
	border-bottom:1px dotted #d3d3d3;line-height:23px;width:100px;font-size:12px;
}

.main_panel_cls4{
	border-bottom:1px dotted #d3d3d3;line-height:23px;width:40px;font-size:12px
}

.main_panel_cls5{
	border-bottom:1px dotted #d3d3d3;line-height:23px;width:80px;font-size:12px
}

.main_panel_cls6{
	border-bottom:1px dotted #d3d3d3;line-height:23px;width:110px;font-size:12px
}

.main_panel_cls7{
	border-bottom:1px dotted #d3d3d3;line-height:23px;font-size:12px
}

.main_panel_cls8{
	border-bottom:1px dotted #d3d3d3;line-height:23px;width:80px;font-size:12px
}
.notice_panel_cls1{
	border-bottom:1px dotted #d3d3d3;line-height:23px;font-size:16px; text-align:center;
}
.notice_panel_cls2{
	border-bottom:1px dotted #d3d3d3;line-height:23px;font-size:12px;text-align:center;
}
.notice_panel_cls3{
	border-bottom:1px dotted #d3d3d3;line-height:23px;font-size:12px;
}
