.mask {
	BACKGROUND: #000; FILTER: alpha(opacity:30); opacity: 0.3
}
.panel {
	Z-INDEX: 299; POSITION: relative; TEXT-ALIGN: left
}
.panel .hd {
	ZOOM: 1
}
.panel .co1 {
	Z-INDEX: 3
}
.panel .co2 {
	Z-INDEX: 3
}
.panel .cue {
	Z-INDEX: 3
}
.panel .sd {
	Z-INDEX: 3
}
.panel .close {
	Z-INDEX: 3
}
.panel .resize {
	Z-INDEX: 3
}
.panel .close {
	CURSOR: pointer
}
.panel .resize {
	RIGHT: 0px; WIDTH: 10px; BOTTOM: 0px; POSITION: absolute; HEIGHT: 10px
}
.panel .panel-iframe {
	FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 3000px
}
.panel-t0 {
	ZOOM: 1; POSITION: relative
}
.panel-t0 .panel-content {
	Z-INDEX: 2; POSITION: relative
}
.panel-t1 {
	OVERFLOW-Y: hidden; PADDING-BOTTOM: 3px; ZOOM: 1; POSITION: relative
}
.panel-t1 .panel-content {
	BORDER-RIGHT: #83c44e 3px solid; BORDER-TOP: #83c44e 3px solid; Z-INDEX: 2; BACKGROUND: #fff; BORDER-LEFT: #83c44e 3px solid; BORDER-BOTTOM: #83c44e 3px solid; POSITION: relative
}
.panel-t1 .panel-content .hd {
	BACKGROUND: url(images/sprites_gra.gif) repeat-x; BORDER-BOTTOM: #d6d6d6 1px solid; ZOOM: 1
}
.panel-t1 .panel-content .hd H3 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 108%; PADDING-BOTTOM: 0.1em; COLOR: #f60; PADDING-TOP: 0.3em
}
.panel-t1 .panel-content .ft {
	BACKGROUND: #dbf4bf; TEXT-ALIGN: center
}
.panel-t1 .panel-content .ft BUTTON {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; FONT-SIZE: 108%; PADDING-BOTTOM: 0px; MARGIN: 0.2em 0.4em; CURSOR: pointer; PADDING-TOP: 0px
}
.panel-t1 .sd {
	DISPLAY: block; Z-INDEX: -1; BACKGROUND: #333; FILTER: alpha(opacity="20"); LEFT: 3px; WIDTH: 100%; POSITION: absolute; TOP: 3px; HEIGHT: 3000px; opacity: .20
}
.panel-t1 .close {
	DISPLAY: block; RIGHT: 0.7em; BACKGROUND: url(images/bg_act_close.gif) no-repeat; OVERFLOW: hidden; WIDTH: 16px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 0.7em; HEIGHT: 16px
}
.panel-t1 .close:hover {
	BACKGROUND: url(images/bg_act_close_h.gif) no-repeat
}
.panel-t2 {
	BORDER-RIGHT: #eebd54 1px solid; BORDER-TOP: #eebd54 1px solid; OVERFLOW-Y: hidden; BORDER-LEFT: #eebd54 1px solid; BORDER-BOTTOM: #eebd54 1px solid; ZOOM: 1; POSITION: relative; HEIGHT: 100%; BACKGROUND-COLOR: #fffee6
}
.panel-t2 .panel-content {
	Z-INDEX: 2; POSITION: relative
}
.panel-t2 .co1 {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; BACKGROUND: url(images/bg_corn4.gif) no-repeat; POSITION: relative; HEIGHT: 4px
}
.panel-t2 .co1 SPAN {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; BACKGROUND: url(images/bg_corn4.gif) no-repeat; POSITION: relative; HEIGHT: 4px
}
.panel-t2 .co2 {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; BACKGROUND: url(images/bg_corn4.gif) no-repeat; POSITION: relative; HEIGHT: 4px
}
.panel-t2 .co2 SPAN {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; BACKGROUND: url(images/bg_corn4.gif) no-repeat; POSITION: relative; HEIGHT: 4px
}
.panel-t2 .co1 {
	POSITION: absolute; TOP: 0px
}
.panel-t2 .co1 {
	RIGHT: -1px; WIDTH: 100%
}
.panel-t2 .co2 {
	RIGHT: -1px; WIDTH: 100%
}
.panel-t2 .co1 SPAN {
	LEFT: -2px; WIDTH: 4px
}
.panel-t2 .co2 SPAN {
	LEFT: -2px; WIDTH: 4px
}
.panel-t2 .co1 {
	BACKGROUND-POSITION: 100% 0px; TOP: -1px
}
.panel-t2 .co1 SPAN {
	BACKGROUND-POSITION: 0px -8px
}
.panel-t2 .co2 {
	BACKGROUND-POSITION: 100% -4px; BOTTOM: -2px; POSITION: absolute
}
.panel-t2 .co2 SPAN {
	BACKGROUND-POSITION: 0px -12px
}
.panel-t2 .close {
	DISPLAY: block; RIGHT: 0.4em; BACKGROUND: url(images/bg_act_close.gif) no-repeat; OVERFLOW: hidden; WIDTH: 16px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 0.4em; HEIGHT: 16px
}
.panel-t2 .close:hover {
	BACKGROUND: url(images/bg_act_close_h.gif) no-repeat
}
.panel-t2 .panel-content .hd H3 {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; FONT-WEIGHT: bold; FONT-SIZE: 93%; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.panel-t2-lb .cue {
	Z-INDEX: 5; BACKGROUND: url(images/sprites_cue.gif) no-repeat 0px 0px; WIDTH: 12px; POSITION: absolute; HEIGHT: 13px
}
.panel-t2-lt .cue {
	Z-INDEX: 5; BACKGROUND: url(images/sprites_cue.gif) no-repeat 0px 0px; WIDTH: 12px; POSITION: absolute; HEIGHT: 13px
}
.panel-t2-tl .cue {
	Z-INDEX: 5; BACKGROUND: url(images/sprites_cue.gif) no-repeat 0px 0px; WIDTH: 12px; POSITION: absolute; HEIGHT: 13px
}
.panel-t2-tr .cue {
	Z-INDEX: 5; BACKGROUND: url(images/sprites_cue.gif) no-repeat 0px 0px; WIDTH: 12px; POSITION: absolute; HEIGHT: 13px
}
.panel-t2-rt .cue {
	Z-INDEX: 5; BACKGROUND: url(images/sprites_cue.gif) no-repeat 0px 0px; WIDTH: 12px; POSITION: absolute; HEIGHT: 13px
}
.panel-t2-rb .cue {
	Z-INDEX: 5; BACKGROUND: url(images/sprites_cue.gif) no-repeat 0px 0px; WIDTH: 12px; POSITION: absolute; HEIGHT: 13px
}
.panel-t2-br .cue {
	Z-INDEX: 5; BACKGROUND: url(images/sprites_cue.gif) no-repeat 0px 0px; WIDTH: 12px; POSITION: absolute; HEIGHT: 13px
}
.panel-t2-bl .cue {
	Z-INDEX: 5; BACKGROUND: url(images/sprites_cue.gif) no-repeat 0px 0px; WIDTH: 12px; POSITION: absolute; HEIGHT: 13px
}
.panel-t2-lb .cue {
	BACKGROUND-POSITION: 0px -40px; LEFT: -12px; WIDTH: 13px; BOTTOM: 20px; HEIGHT: 12px
}
.panel-t2-lt .cue {
	BACKGROUND-POSITION: -40px -40px; LEFT: -12px; WIDTH: 13px; TOP: 20px; HEIGHT: 12px
}
.panel-t2-tl .cue {
	BACKGROUND-POSITION: -80px -40px; LEFT: 20px; TOP: -12px
}
.panel-t2-tr .cue {
	BACKGROUND-POSITION: -120px -40px; RIGHT: 20px; TOP: -12px
}
.panel-t2-rt .cue {
	BACKGROUND-POSITION: -160px -40px; RIGHT: -12px; TOP: 20px
}
.panel-t2-rb .cue {
	BACKGROUND-POSITION: -200px -40px; RIGHT: -12px; BOTTOM: 20px
}
.panel-t2-br .cue {
	BACKGROUND-POSITION: -240px -40px; RIGHT: 20px; BOTTOM: -12px
}
.panel-t2-bl .cue {
	BACKGROUND-POSITION: -280px -40px; LEFT: 20px; BOTTOM: -12px
}
.panel-t3 {
	OVERFLOW-Y: hidden; PADDING-BOTTOM: 3px; ZOOM: 1; POSITION: relative
}
.panel-t3 .panel-content {
	BORDER-RIGHT: #1dace8 1px solid; BORDER-TOP: #1dace8 1px solid; Z-INDEX: 2; BACKGROUND: #fff; BORDER-LEFT: #1dace8 1px solid; BORDER-BOTTOM: #1dace8 1px solid; POSITION: relative
}
.panel-t3 .panel-content .hd {
	BACKGROUND: #bfecff
}
.panel-t3 .panel-content .hd H3 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 93%; PADDING-BOTTOM: 0.2em; COLOR: #000; PADDING-TOP: 0.4em
}
.panel-t3 .sd {
	DISPLAY: block; Z-INDEX: -1; BACKGROUND: #333; FILTER: alpha(opacity="20"); LEFT: 3px; WIDTH: 100%; POSITION: absolute; TOP: 3px; HEIGHT: 3000px; opacity: .20
}
.panel-t3 .close {
	DISPLAY: block; RIGHT: 0.6em; BACKGROUND: url(images/bg_act_close.gif) no-repeat; OVERFLOW: hidden; WIDTH: 16px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 0.4em; HEIGHT: 16px
}
.panel-t3 .close:hover {
	BACKGROUND: url(images/bg_act_close_h.gif) no-repeat
}
.panel-t4 {
	OVERFLOW-Y: hidden; PADDING-BOTTOM: 3px; ZOOM: 1; POSITION: relative
}
.panel-t4 .panel-content {
	BORDER-RIGHT: #f1c463 1px solid; BORDER-TOP: #f1c463 1px solid; Z-INDEX: 2; BACKGROUND: #fff; BORDER-LEFT: #f1c463 1px solid; BORDER-BOTTOM: #f1c463 1px solid; POSITION: relative
}
.panel-t4 .panel-content .hd {
	BACKGROUND: #f6deaa
}
.panel-t4 .panel-content .hd H3 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 108%; PADDING-BOTTOM: 0.1em; COLOR: #000; PADDING-TOP: 0.3em
}
.panel-t4 .sd {
	DISPLAY: block; Z-INDEX: -1; BACKGROUND: #333; FILTER: alpha(opacity="20"); LEFT: 3px; WIDTH: 100%; POSITION: absolute; TOP: 3px; HEIGHT: 3000px; opacity: .20
}
.panel-t4 .close {
	DISPLAY: block; RIGHT: 0.6em; BACKGROUND: url(images/bg_act_close.gif) no-repeat; OVERFLOW: hidden; WIDTH: 16px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 0.4em; HEIGHT: 16px
}
.panel-t4 .close:hover {
	BACKGROUND: url(images/bg_act_close_h.gif) no-repeat
}
.panel-t5 {
	OVERFLOW-Y: hidden; PADDING-BOTTOM: 3px; ZOOM: 1; POSITION: relative
}
.panel-t5 .panel-content {
	BORDER-RIGHT: #a1a1a1 1px solid; BORDER-TOP: #a1a1a1 1px solid; Z-INDEX: 2; BACKGROUND: #fff; BORDER-LEFT: #a1a1a1 1px solid; BORDER-BOTTOM: #a1a1a1 1px solid; POSITION: relative
}
.panel-t5 .panel-content .hd {
	BACKGROUND: #f6deaa
}
.panel-t5 .panel-content .hd H3 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 108%; PADDING-BOTTOM: 0.1em; COLOR: #000; PADDING-TOP: 0.3em
}
.panel-t5 .sd {
	DISPLAY: block; Z-INDEX: -1; BACKGROUND: #333; FILTER: alpha(opacity="20"); LEFT: 3px; WIDTH: 100%; POSITION: absolute; TOP: 3px; HEIGHT: 3000px; opacity: .20
}
.panel-t5-lt .cue {
	DISPLAY: block; BACKGROUND: url(images/sprites_cue.gif) no-repeat -40px 0px; LEFT: -17px; OVERFLOW: hidden; WIDTH: 18px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 30px; HEIGHT: 18px
}
.panel-login {
	MARGIN: 0.8em
}
.panel-login .s1 {
	BORDER-RIGHT: #ffde6a 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ffde6a 1px solid; PADDING-LEFT: 2.5em; FONT-SIZE: 93%; BACKGROUND: url(images/bg_mantle_notice.gif) #feffea no-repeat 0.5em 50%; PADDING-BOTTOM: 0.3em; BORDER-LEFT: #ffde6a 1px solid; PADDING-TOP: 0.4em; BORDER-BOTTOM: #ffde6a 1px solid
}
.panel-login UL {
	MARGIN: 1em 0px 0px 1em
}
.panel-login LI {
	MARGIN-BOTTOM: 0.4em; ZOOM: 1
}
.panel-login LI:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ''
}
.panel-login .k {
	FONT-SIZE: 108%; FLOAT: left; WIDTH: 4em
}
.panel-login .v {
	FONT-SIZE: 93%; FLOAT: left
}
.panel-login .submit BUTTON {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 0.5em
}
.panel-login .s2 {
	BORDER-TOP: #b2b2b2 1px solid; PADDING-TOP: 1em; TEXT-ALIGN: center
}
.panel-login .s2 H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; TEXT-ALIGN: left
}
.panel-login .s2 BUTTON {
	CLEAR: both; PADDING-RIGHT: 4em; PADDING-LEFT: 4em; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
