* { margin:0; padding:0}
em,q,cite,address { font-weight:normal; font-style:normal}




/* link */
a { color:#05A; text-decoration:none}
a:hover { text-decoration:underline}
/* link in text */
a.t { text-decoration:underline}
a.t:hover { color:#F60; text-decoration:underline}ne}

/* clear float */
.cf { zoom:1} /* for IE */
.cf:after { content:"."; display: block; clear:both; font-size:0; height:0; visibility:hidden; overflow:hidden} /* for other */
/* end of clear float */





/* display */
div.unselected { display:none; }
div.selected { display:block; }

/* form */
label { cursor:pointer}
label:hover { text-decoration:underline}
input,select { vertical-align:middle; font-size:12px; color:#666}
input[type="text"],.input[type="password"] { padding:2px 3px 0; height:15px; line-height:15px; border:1px solid #BBB; background:url(../image/form_bg.gif) no-repeat #FFF}
select { height:20px}
textarea { padding:3px 0 3px 3px; font-size:12px; color:#333; border:1px solid #BBB; background:url(../image/form_bg.gif) no-repeat #FFF}
button { cursor:pointer; vertical-align:middle; text-align:center}
button.btn01 { width:70px; height:20px; padding-top:2px; font-size:12px; font-weight:normal; color:#1C1C1C; border:0; background:url(../image/button_01.gif) no-repeat}
button.btn02 { width:50px; height:20px; padding-top:2px; font-size:12px; font-weight:normal; color:#1C1C1C; border:0; background:url(../image/button_01.gif) 0 -30px no-repeat}
button.btn03 { width:60px; height:20px; padding-top:2px; font-size:12px; font-weight:normal; color:#1C1C1C; border:0; background:url(../imageg/button_01.gif) 0 -60px no-repeat}
button.btn04 { width:120px; height:20px; padding-top:2px; font-size:12px; font-weight: bold; color:#333; border:0; background:url(../image/button_01.gif) 0 -90px no-repeat}
button.btn05 { width:45px; height:20px; padding-top:2px; font-size:12px; font-weight:normal; color:#05A; border:0; background:url(../image/img/button_01.gif) -55px -30px no-repeat}
button.btn06 { width:53px; height:20px; padding-top:2px; font-size:12px; font-weight:normal; color:#1C1C1C; border:0; background:url(../image/button_01.gif) 0 -120px no-repeat}

