.handy li,.yachter .spirit-button,.millet li{background:url("../image/default_hor_bg[1].gif") 0 0 no-repeat;}

.handy li{background-repeat:repeat-x;}

.yachter .spirit-button{background-position:0 -24px;background-repeat:repeat-x;}

.millet li{background-position:0 -44px;}

.ew-panel-hd{background-position:-377px -670px;}

.ew-tab-menu li{background-position:0 -565px;}

.ew-tab-menu li a{background-position:100% -670px;}

.ew-tab-menu li a span{background-position:714px -479px;}

.ew-tab-menu li.ew-tab-item-1 a span{background-position:-714px -505px;}

.ew-tab-menu li.ew-tab-item-2 a span{background-position:-714px -531px;}

.ew-tab-menu li.selected{background-position:0 -530px;}

.ew-tab-menu li.selected a{background-position:right -640px;}

.rye li a,.rice li a.new{background:url("../image/default_icon[1].gif") 0 0 no-repeat;}

.rye li a{background-position:0 -88px;}

.rice li a.new{background-position:100% 5px;}

.tree-trunk-01 h2,.tree-trunk-02 h2,.tree-trunk-03 h2,.tree-trunk-04 h2,.tree-trunk-05 h2,.tree-trunk-06 h2,.tree-trunk-07 h2,.tree-trunk-08 h2,.tree-trunk-09 h2{background:url("../image/default_h2_v2[1].png") 0 0 no-repeat;}

.tree-trunk-02 h2{background-position:0 -28px;}

.tree-trunk-03 h2{background-position:0 -56px;}

.tree-trunk-04 h2{background-position:0 -84px;}

.tree-trunk-05 h2{background-position:0 -112px;}

.tree-trunk-06 h2{background-position:0 -140px;}

.tree-trunk-07 h2{background-position:0 -168px;}

.tree-trunk-08 h2{background-position:0 -196px;}

.tree-trunk-09 h2{background-position:0 -250px;}

em.ha{font-weight:700;font-style:normal;color:#f75c3d;}

.body{font-size:12px;}

.body-skin{width:950px;border:0;margin:0 auto;}

.body-skin:after{content:"";clear:both;display:block;height:0;visibility:hidden;}

.handy{float:right;list-style:none;margin:-23px 0 0 0;padding:0;}

.handy li{*display:inline;float:left;height:22px;margin:0 0 0 6px;padding:0 10px;border:1px solid #e4e4e4;border-bottom-width:0;background-repeat:repeat-x;line-height:22px;}

.handy li a:link,.handy li a:visited{color:#666;text-decoration:none;}

.handy li a:hover,.handy li a:active{text-decoration:underline;}

.handy li.highlight a:link,.handy li.highlight a:visited{color:#a50110;}

html{overflow:-moz-scrollbars-vertical;overflow-x:auto;}

.hd,.hd h3,.hd h3 span,.announce li,.tourist a,.ensure,.ensure a,.ensure span,.yachtsman,.yachtsman li,.yachtsman a,.yachtsman span,.selected,.yachter-feel,.yachter-feel li{background:url("../image/default_first_1124[1].png") no-repeat 500px 500px;}

.section{zoom:1;margin-bottom:10px;}

.section:after{content:"\0020";display:block;height:0;clear:both;}

.crucial{float:left;width:190px;margin-right:10px;}

.preview{float:left;width:510px;}

.aside{float:right;width:230px;}

.hd{height:29px;padding-left:22px;line-height:30px;background-position:0 -30px;overflow:hidden;}

.hd h3{height:30px;line-height:2.4;font-size:14px;overflow:hidden;background-position:100% -60px;}

.bd{border:solid 1px #e4e4e4;}

.announce ul{padding:6px 0;}

.announce ul li{overflow:hidden;width:170px;padding-left:17px;line-height:1.6;white-space:nowrap;background-position:-309px -250px;}

.announce ul li a:link,.announce ul li a:visited{color:#5a5a5a;}

.tourist{width:190px;margin:10px 0 9px;overflow:hidden;}

.tourist ul{zoom:1;width:200px;}

.tourist ul:after{content:"\0020";display:block;height:0;clear:both;}

.tourist li{float:left;margin-right:8px;line-height:1.3;}

.tourist a{padding-left:10px;background-position:0 -231px;}

.tourist .tourer01 a,.tourist .tourer02 a{display:block;width:90px;height:25px;margin-bottom:8px;padding-left:0;text-indent:-999px;overflow:hidden;}

.tourist .tourer02{margin-right:0;}

.tourer01 a{background-position:-190px -160px;}

.tourer02 a{background-position:-190px -185px;}

.ensure{width:190px;overflow:hidden;height:63px;background-position:0 -160px;}

.ensure ul{padding:8px 0 8px 10px;zoom:1;}

.ensure ul li{float:left;height:20px;margin-right:6px;line-height:20px;}

.ensure a{float:left;width:72px;height:20px;padding-left:10px;font-weight:700;text-align:center;background-position:0 -90px;}

.ensure a span{display:block;padding-right:10px;background-position:100% -90px;}

.ensure a:link,.ensure a:visited{color:#fff;}

.ensure .gratuitous{margin-top:7px;}

.ensure .gratuitous a{width:160px;}

.silbo-slide{position:relative;height:250px;width:510px;}

.silbo-slide #SlidePlayer{position:relative;margin:0 auto;}

.silbo-slide .Slides{padding:0;margin:0;list-style:none;height:250px;overflow:hidden;}

.silbo-slide .Slides li{float:left;height:250px;width:510px;}

.silbo-slide .Slides img{border:0;display:block;width:510px;height:250px;}

.silbo-slide .SlideTriggers{list-style:none;position:absolute;bottom:4px;right:3px;z-index:11;}

.silbo-slide .SlideTriggers li{float:left;display:inline;color:#74a8ed;text-align:center;line-height:15px;width:15px;height:15px;font-family:Arial;font-size:.9em;cursor:pointer;overflow:hidden;margin:0 0 0 2px;border:1px solid #dcdcdc;background:white;color:#9f9f9f;}

.silbo-slide .SlideTriggers li.Current{font-weight:bold;font-size:1.1em;background:#c00100;color:white;border:1px solid #a00100;}

.silbo-slide .Slides li .SlideTitle{position:absolute;left:0;bottom:0;_bottom:-1px;z-index:10;width:510px;height:25px;line-height:25px;color:white;text-indent:8px;}

.silbo-slide .Slides li .SlideTitle b{position:absolute;left:0;bottom:0;width:510px;height:25px;background:#c92e31;filter:alpha(opacity=70);opacity:.7;z-index:-1;}

.silbo-slide .Slides li .SlideTitle a:link,.silbo-slide .Slides li .SlideTitle a:visited{color:white;}

.yacht .hd{height:30px;padding-left:5px;}

.yacht .yachtsman{height:25px;padding-top:5px;background-position:100% -60px;}

.yachtsman li{float:left;margin-right:3px;padding-left:5px;line-height:25px;background-position:0 -135px;}

.yachtsman a{display:block;padding-right:6px;background-position:100% -135px;}

.yachtsman .selected{background-position:0 -110px;}

.yachtsman .selected a{background-position:100% -110px;}

.yachtsman a span{padding:1px 0 0 18px;}

.yachtsman .yachtsman-game span{background-position:-304px -165px;}

.yachtsman .yachtsman-mobile span{background-position:-304px -186px;}

.yachtsman .yachtsman-ticket span{background-position:-304px -207px;}

.yachtsman .yachtsman-hotel{margin-right:0;}

.yachtsman .yachtsman-hotel span{background-position:-304px -228px;}

.yachtsman a:link,.yachtsman a:visited{color:#333;outline:none;}

.yachtsman a:hover{color:#666;text-decoration:none;}

.yacht .bd{width:228px;height:219px;border-top:none;overflow:hidden;}

.yachter{display:none;padding:15px 0 14px 0;position:relative;}

.yachter-game,.yachter-mobile,.yachter-ticket,.yachter-hotel{height:130px;overflow:hidden;margin:0 4px;}

.yachter-game,.yachter-mobile{padding-left:20px;}

.yachter-ticket,.yachter-hotel{padding-left:6px;}

.yachter-feel{width:208px;height:63px;position:absolute;left:10px;top:147px;z-index:2008;background-position:-72px -244px;}

.yachter-feel ul{margin:5px;}

.yachter-feel li{height:18px;line-height:18px;padding-left:10px;overflow:hidden;background-position:-315px -250px;}

.yachter-feel li a:link,.yachter-feel li a:visited{color:#414141;}

.yachter-feel li a:hover,.yachter-feel li a:active{color:#f60;}

.brand-popularize{zoom:1;padding:0 1px;}

.brand-popularize:after{content:"\0020";display:block;height:0;clear:both;}

.brand-popularize li{float:left;margin-right:9px;}

.brand-popularize .last{margin-right:0;}

.category h3{background-position:0 0;background-repeat:repeat-x;}

.category h3 span{display:block;background-position:100% -60px;}

.category .class-list{zoom:1;padding-bottom:10px;}

.category .class-list:after{content:"\0020";display:block;height:0;clear:both;}

.category .class-list li{float:left;width:176px;padding:10px 11px 10px 10px;margin:0 -10px -10px 0;}

.category .class-list li dl{overflow:hidden;height:80px;}

.category .class-list li dt{clear:both;display:block;overflow:hidden;height:15px;background:#f9a0c1 url("promotion_bg[1].gif") 0 -1004px no-repeat;line-height:15px;color:#fff;font-weight:700;text-indent:16px;}

.category .class-list li dt a:link,.category .class-list li dt a:visited{color:#fff;}

.category .class-list li dt a:hover{text-decoration:none;}

.category .class-list li dd{zoom:1;overflow:hidden;}

.category .class-list dd a{float:left;margin:5px 0 0 -1px;padding:0 5px 0 4px;border-left:1px solid #ccc;white-space:nowrap;}

.category .class-list .class-list-01 dt{background-color:#9dc663;}

.category .class-list .class-list-02 dt{background-color:#dcbf5c;}

.category .class-list .class-list-03 dt{background-color:#f8c3c4;}

.category .class-list .class-list-04 dt{background-color:#95aee5;}

.category .class-list .class-list-05 dt{background-color:#aaa;}

.category .class-list .class-list-06 dt{background-color:#9dc663;}

.category .class-list .class-list-07 dt{background-color:#dcbf5c;}

.category .class-list .class-list-08 dt{background-color:#f8c3c4;}

.category .class-list .class-list-09 dt{background-color:#95aee5;}

.category .class-list .class-list-10 dt{background-color:#aaa;}

.category .class-list .class-list-11 dt{background-color:#9dc663;}

.category .class-list .class-list-12 dt{background-color:#dcbf5c;}

.category .class-list .class-list-13 dt{background-color:#f8c3c4;}

.category .class-list .class-list-14 dt{background-color:#95aee5;}

.category .class-list .class-list-15 dt{background-color:#aaa;}

.field{clear:both;border:1px solid #e4e4e4;border-bottom-width:0;}

.field-media{width:948px;overflow:hidden;}

.field h2{overflow:hidden;height:28px;border-bottom:1px solid #e4e4e4;line-height:28px;text-indent:-9999em;}

.ridge{float:right;position:relative;margin-top:-28px;height:28px;padding:0;line-height:28px;}

.ridge li{float:left;padding:0 12px 0 0;}

.ridge li a:link,.ridge li a:visited{color:#666;}

.ridge li a:hover,.ridge li a:active{color:#f60;}

.stook{zoom:1;}

.stook:after{content:"";clear:both;display:block;height:0;visibility:hidden;}

.straw{float:left;}

.straw img{vertical-align:top;}

.paddy{float:right;width:703px;padding:10px;border:5px solid #fddee6;border-left-width:0;overflow:hidden;}

.hulled{width:440px;float:left;padding:0;}

.millet{clear:both;padding-bottom:8px;}

.millet ul{overflow:hidden;zoom:1;}

.millet li{float:left;width:100px;padding:0 10px;margin-left:-10px;}

.millet-img,.millet-img a{display:block;overflow:hidden;width:100px;height:100px;}

.millet-img img{display:block;}

.millet-hx{display:block;overflow:hidden;width:100px;height:30px;margin-top:5px;line-height:15px;}

.millet-hx a:link,.millet-hx a:visited{color:#666;text-decoration:none;}

.millet-hx a:hover,.millet-hx a:active{color:#f60;text-decoration:underline;}

.millet-price{display:block;overflow:hidden;width:100px;color:#c00;}

.maise{float:left;}

.tree-trunk-01 .maise{width:200px;height:90px;border:1px solid #e4e4e4;}

.maise img{vertical-align:top;}

.rye{float:left;}

.rye ul{overflow:hidden;margin-right:-10px;float:left;}

.rye li{overflow:hidden;float:left;height:23px;width:210px;padding:0;margin:-1px 10px 0 0;line-height:22px;}

.rye li a{display:block;padding:0 0 0 12px;}

.poppy{float:left;width:430px;height:60px;margin:10px 0 0 0;background:#f2f2f2;}

.poppy ul{overflow:hidden;zoom:1;}

.poppy ul li{float:left;width:143px;}

.poppy-img{*display:inline;float:left;margin:10px;border:1px solid #e4e4e4;}

.poppy-hx{display:block;overflow:hidden;height:45px;padding-top:8px;}

.poppy-hx a:link,.poppy-hx a:visited{color:#414141;}

.poppy-hx a:hover,.poppy-hx a:active{color:#f60;}

.poppy-price{display:block;line-height:5px;font-weight:700;color:#c00;white-space:nowrap;}

.husked{float:right;width:253px;padding:0 0 0 10px;overflow:hidden;}

.rice{width:100%;margin-bottom:-4px;}

.rice h3{margin:0;padding:0;height:18px;border-bottom:1px solid #e4e4e4;font-size:14px;font-weight:700;line-height:16px;color:#f76d91;}

.rice ol{overflow:hidden;padding:0 4px;}

.rice li{height:25px;margin:-1px 0 0 0;line-height:23px;}

.rice li .no{font-weight:700;color:#f7648a;}

.rice li a{margin:0 5px;}

.rice li a.new{padding:0 28px 0 0;}

.surf{padding:4px 0 0;margin:0 0 -15px;zoom:1;}

.surf li{padding:0 0 15px;}

.surf li img{vertical-align:top;border:1px solid #e4e4e4;}

.tree-trunk-sport h2{background-position:0 -222px!important;}

.tree-trunk-sport .paddy{border-color:#bbc9f5!important;}

.tree-trunk-shoes h2{background-position:0 -28px!important;}

.tree-trunk-shoes .paddy{border-color:#B3A384!important;}

.tree-trunk-shoes .rice h3{color:#6e624b!important;}

.tree-trunk-01 .stook{height:350px;border-color:#ffa1c3;}

.tree-trunk-01 .paddy{height:320px;}

.tree-trunk-01 .rye{width:220px;padding-left:10px;}

.tree-trunk-01 .rye li{height:24px;}

.tree-trunk-02 .stook{height:250px;}

.tree-trunk-02 .paddy{height:224px;border-color:#b3a384;padding:8px 10px;}

.tree-trunk-02 .rice h3{color:#6e624b;}

.tree-trunk-02 .rice li .no{color:#6e624b;}

.tree-trunk-03 .stook{height:250px;}

.tree-trunk-03 .paddy{height:224px;border-color:#6fddee6;padding:8px 10px;}

.tree-trunk-03 .rice h3{color:#ad2481;}

.tree-trunk-03 .rice li .no{color:#ad2481;}

.tree-trunk-04 .stook{height:350px;}

.tree-trunk-04 .paddy{height:320px;border-color:#9ecee2;padding:10px;}

.tree-trunk-04 .maise{padding-bottom:8px;float:none;}

.tree-trunk-04 .rye{margin-bottom:6px;}

.tree-trunk-04 .millet{padding-bottom:0;}

.tree-trunk-04 .rice h3{color:#3f3f3f;}

.tree-trunk-04 .rice li .no{color:#3f3f3f;}

.tree-trunk-05 .stook{height:250px;}

.tree-trunk-05 .paddy{height:224px;border-color:#aae6e2;padding:8px 10px;}

.tree-trunk-06 .stook{height:250px;}

.tree-trunk-06 .paddy{height:224px;border-color:#eacd6a;padding:8px 10px;}

.tree-trunk-07 .stook{height:250px;}

.tree-trunk-07 .paddy{height:224px;border-color:#f8c3c4;padding:8px 10px;}

.tree-trunk-07 .rice h3{color:#ff9768;}

.tree-trunk-07 .rice li .no{color:#ff9768;}

.tree-trunk-08 .stook{height:250px;}

.tree-trunk-08 .paddy{height:224px;border-color:#c4de9d;padding:8px 10px;}

.tree-trunk-08 .rice{margin-bottom:0;}

.tree-trunk-08 .rice h3{color:#476c18;height:20px;}

.tree-trunk-08 .rice li{height:27px;line-height:26px;}

.tree-trunk-08 .rice li .no{color:#476c18;}

.tree-trunk-09 .stook{height:250px;}

.tree-trunk-09 .paddy{height:224px;border-color:#bca6f1;padding:8px 10px;}

.tree-trunk-09 .rice{margin-bottom:0;}

.tree-trunk-09 .rice h3{color:#bca6f1;height:20px;}

.tree-trunk-09 .rice li{height:27px;line-height:26px;}

.tree-trunk-09 .rice li .no{color:#bca6f1;}

.header-bottom{background:none;font-size:0;height:10px;line-height:0;min-height:10px;}