.ux-flag-1 {
        background-image:url(../../images/share/yeoou/zhongqiu.gif) ! important;
    }
    .ux-flag-2 {
        background-image:url(../../images/share/yeoou/guoqing.gif) ! important;
    }
    .ux-flag-3 {
        background-image:url(../../images/share/yeoou/spring.gif) ! important;
    }
    .ux-icon-combo-icon {
        background-repeat: no-repeat;
        background-position: 0 50%;
        width: 18px;
        height: 14px;
    }
 
    /* X-BROWSER-WARNING: this is not being honored by Safari */
    .ux-icon-combo-input {
        padding-left: 25px;
    }
 
    .x-form-field-wrap .ux-icon-combo-icon {
        top: 3px;
        left: 5px;
    }
    .ux-icon-combo-item {
        background-repeat: no-repeat ! important;
        background-position: 3px 50% ! important;
        padding-left: 24px ! important;
    }

.color-flag-00{
	background-image:url(../../images/jobber/yeoou/00.gif) ! important;
}
.color-flag-01{
	background-image:url(../../images/jobber/yeoou/01.gif) ! important;
}
.color-flag-02{
	background-image:url(../../images/jobber/yeoou/02.gif) ! important;
}
.color-flag-03{
	background-image:url(../../images/jobber/yeoou/03.gif) ! important;
}
.color-flag-04{
	background-image:url(../../images/jobber/yeoou/04.gif) ! important;
}
.color-flag-05{
	background-image:url(../../images/jobber/yeoou/05.gif) ! important;
}
.color-flag-06{
	background-image:url(../../images/jobber/yeoou/06.gif) ! important;
}
.color-flag-07{
	background-image:url(../../images/jobber/yeoou/07.gif) ! important;
}
.color-flag-10{
	background-image:url(../../images/jobber/yeoou/10.gif) ! important;
}
.color-flag-11{
	background-image:url(../../images/jobber/yeoou/11.gif) ! important;
}
.color-flag-12{
	background-image:url(../../images/jobber/yeoou/12.gif) ! important;
}
.color-flag-13{
	background-image:url(../../images/jobber/yeoou/13.gif) ! important;
}
.color-flag-14{
	background-image:url(../../images/jobber/yeoou/14.gif) ! important;
}
.color-flag-15{
	background-image:url(../../images/jobber/yeoou/15.gif) ! important;
}
.color-flag-16{
	background-image:url(../../images/jobber/yeoou/16.gif) ! important;
}
.color-flag-17{
	background-image:url(../../images/jobber/yeoou/17.gif) ! important;
}
.color-flag-20{
	background-image:url(../../images/jobber/yeoou/20.gif) ! important;
}
.color-flag-21{
	background-image:url(../../images/jobber/yeoou/21.gif) ! important;
}
.color-flag-22{
	background-image:url(../../images/jobber/yeoou/22.gif) ! important;
}
.color-flag-23{
	background-image:url(../../images/jobber/yeoou/23.gif) ! important;
}
.color-flag-24{
	background-image:url(../../images/jobber/yeoou/24.gif) ! important;
}
.color-flag-25{
	background-image:url(../../images/jobber/yeoou/25.gif) ! important;
}
.color-flag-26{
	background-image:url(../../images/jobber/yeoou/26.gif) ! important;
}
.color-flag-27{
	background-image:url(../../images/jobber/yeoou/27.gif) ! important;
}
.color-flag-30{
	background-image:url(../../images/jobber/yeoou/30.gif) ! important;
}
.color-flag-31{
	background-image:url(../../images/jobber/yeoou/31.gif) ! important;
}
.color-flag-32{
	background-image:url(../../images/jobber/yeoou/32.gif) ! important;
}
.color-flag-33{
	background-image:url(../../images/jobber/yeoou/33.gif) ! important;
}
.color-flag-34{
	background-image:url(../../images/jobber/yeoou/34.gif) ! important;
}
.color-flag-35{
	background-image:url(../../images/jobber/yeoou/35.gif) ! important;
}
.color-flag-36{
	background-image:url(../../images/jobber/yeoou/36.gif) ! important;
}
.color-flag-37{
	background-image:url(../../images/jobber/yeoou/37.gif) ! important;
}
.color-flag-40{
	background-image:url(../../images/jobber/yeoou/40.gif) ! important;
}
.color-flag-41{
	background-image:url(../../images/jobber/yeoou/41.gif) ! important;
}
.color-flag-42{
	background-image:url(../../images/jobber/yeoou/42.gif) ! important;
}
.color-flag-43{
	background-image:url(../../images/jobber/yeoou/43.gif) ! important;
}
.color-flag-44{
	background-image:url(../../images/jobber/yeoou/44.gif) ! important;
}
.color-flag-45{
	background-image:url(../../images/jobber/yeoou/45.gif) ! important;
}
.color-flag-46{
	background-image:url(../../images/jobber/yeoou/46.gif) ! important;
}
.color-flag-47{
	background-image:url(../../images/jobber/yeoou/47.gif) ! important;
}