P {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 14pt; FONT-FAMILY: verdana
}
A:link {
	COLOR: #0055c2; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0055c2; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff5000
}
A:active {
	COLOR: #0055c2; TEXT-DECORATION: none
}
INPUT.myinfo_tx {
	BORDER-RIGHT: #c4c7c8 1px solid; BORDER-TOP: #c4c7c8 1px solid; BORDER-LEFT: #c4c7c8 1px solid; WIDTH: 156px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #c4c7c8 1px solid; HEIGHT: 22px
}
H1 {
	MARGIN-TOP: 0px; FONT-SIZE: 14px; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 5pt; VERTICAL-ALIGN: middle; COLOR: #ff8000; LINE-HEIGHT: 17pt
}
H2 {
	MARGIN-TOP: 10px; FONT-SIZE: 14px; MARGIN-BOTTOM: 3pt; MARGIN-LEFT: 10pt; VERTICAL-ALIGN: sub; COLOR: #ff8000; LINE-HEIGHT: 17pt
}
H3 {
	MARGIN-TOP: 2px; FONT-SIZE: 12px; MARGIN-BOTTOM: 7px; COLOR: #ff8000
}
.white {
	COLOR: white
}
#GroupTitle {
	OVERFLOW: hidden; WIDTH: 450px
}
#body {
	MARGIN: 5px auto 2px; WIDTH: 765px; TEXT-ALIGN: center
}
#ProdLeft {
	FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 160px; PADDING-TOP: 0px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #bed3f4; TEXT-ALIGN: center
}
#contain {
	CLEAR: both; PADDING-BOTTOM: 20px; WIDTH: 160px; PADDING-TOP: 13px; TEXT-ALIGN: center
}
#ProdLeft UL {
	CLEAR: both; MARGIN: 2px 0px; WIDTH: 160px; TEXT-ALIGN: center
}
#ProdLeft UL LI {
	LINE-HEIGHT: 18px; LIST-STYLE-TYPE: none
}
#ProdLeft UL LI.lnclass {
	FLOAT: left; WIDTH: 70px; TEXT-ALIGN: right
}
#contain UL LI.rnclass {
	FLOAT: right; WIDTH: 78px; TEXT-ALIGN: left
}
#contain UL LI.space {
	FLOAT: left; WIDTH: 12px; TEXT-ALIGN: center
}
#ProdMiddle {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 443px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff
}
#ProdMiddle H1 {
	MARGIN-TOP: 0px; FONT-SIZE: 14px; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 5pt; VERTICAL-ALIGN: middle; COLOR: #ff8000; LINE-HEIGHT: 17pt
}
#ProdMiddle UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#ProdMiddle UL.title {
	MARGIN-TOP: 6px; WIDTH: 420px; LINE-HEIGHT: 30px
}
#ProdMiddle LI {
	LIST-STYLE-TYPE: none
}
#ProdMiddle LI.title {
	FLOAT: left; VERTICAL-ALIGN: super; WIDTH: 300px; TEXT-ALIGN: left
}
#ProdMiddle LI.start {
	CLEAR: both; FONT-WEIGHT: 100; FONT-SIZE: 12px; BACKGROUND: url(../../images/share/ftl/default/button_bg1.gif) no-repeat 50% bottom; FLOAT: right; VERTICAL-ALIGN: super; WIDTH: 100px; COLOR: #fff; FONT-FAMILY: "宋体"
}
#ProdMiddle UL.middlespace {
	BACKGROUND: url(../../images/share/ftl/cruises_topbg2.jpg) repeat-x; WIDTH: 410px; HEIGHT: 8px
}
#ProdRight {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 160px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #bed3f4
}
#footer {
	CLEAR: both; FONT-WEIGHT: 100
}
.train {
	OVERFLOW: hidden; WIDTH: 90%; HEIGHT: 20px
}
